


.login-container {
    width:500px;
    
    .login-header {

        .text-logo {
            width: 100%;
            font-size: 2.15em;
            text-align: center;
            padding: 24px;
            font-family: 'Kaushan Script';
            background-color: #2D3743;
            color: #fff;
        }
    }

    .login-body {
        background: linear-gradient(135deg, #FFE1E9 5%, #FFEFD8 95%);

        .login-text {
            width: 100%;
            font-size: 1.72em;
            text-align: center;
            padding: 48px 24px;
            font-family: 'Roboto';
            
        }
    
        .login-form-row {
            width: 100%;
        }
    
        .login-copyright {
            width: 100%;
            font-size: .84em;    
        }
    }
}